.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.elevator{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}
.floors{
  width: 10vw;
  height: 40vw;
  background-color: aliceblue;
}
.btns{

}

.floor{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 30vw;

}

.floorBlock {
  height: 4vw;
  width: 10vw;
}
.moveBlock{
  text-align: center;
  //transition: transform 1s ease;
  height: 4vw;
  width: 10vw;
  background-color: aqua;
}

.blinkBlock{
  transition: none;
  animation: blink 3s linear;
}

@keyframes blink {
  0%{
    opacity: 1;
  }
  16%{
    opacity: 0;
  }
  33%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  66%{
    opacity: 1;
  }
  83%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }


}

.floorNum{
  height: 4vw;
  margin-inline-start: 10px;
  display: flex;
  width: 60px;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.floorBtn{
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: transparent;
  &:hover{
    background-color: aqua;
  }
  &:active{
    transform: scale(.9);
    background-color: darkorange;
  }
}


